
/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}



/*----------------------------------------------------------------------------
    Base
----------------------------------------------------------------------------*/

/*font-family: 'Noticia Text', serif;*/

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #545454;

}

a{
    text-decoration: none;
}


/*----------------------------------------------------------------------------
    Structure
----------------------------------------------------------------------------*/


.wrapper{
    width: 1280px;
    margin: 0 auto;
}

.margin-top{
    margin-bottom: 30px;
}
.margin-bottom{
    margin-bottom: 30px;
}




/*----------------------------------------------------------------------------
    Modules
----------------------------------------------------------------------------*/

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.principal ul{
    display: flex;
    list-style: none;
    justify-content: space-between;

    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
    padding: 0;
}

nav.principal li{
    flex-grow: 1;
    display: flex;
}

nav.principal a{
    color: #545454;
    flex-grow: 1;
    text-align: center;
    transition: all 1s;

    padding: 10px 0;
}

nav.principal a:hover{
    background-color: #f4f4f4;
}



section.hero{
    display: flex;
    align-items: flex-start;
}

section.hero img{
    width: 33.3333%;

}

section.info{
    display: flex;
    justify-content: space-between;

}

.info article{
    width: 350px;
}

.info td:nth-child(1), .info td:nth-child(2){
    font-weight: bold;
}


footer{
    background-color: #f4f4f4;
}

footer div{
    display: flex;
    justify-content: space-between;
}

footer nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
footer ul li{
    margin-left: 15px;
}

footer nav a{
    color: #545454;
    border: 2px solid #545454;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;

    transition: all 1s;
}

footer nav ul a:hover{
    color: aliceblue;
    background-color: #545454;
}